* {
     box-sizing: border-box;
}
body {
     font-family: Verdana;
     background-color: rgb(153, 153, 153);
     padding-left: 3em;
     padding-right: 3em;
     background-image: url('img/sch8e.png');
     /*background-color: rgba(255, 255, 255, 0.7);*/
}

.light_bg {
     background-color: rgb(153, 153, 153);
}
.med_bg {
     background-color: rgb(102, 102, 102);
}
.dark_bg {
     background-color: rgb(0, 166, 206);
}
.light_text {
     color: rgb(153, 153, 153);
}
.med_text {
     color: rgb(102, 102, 102);
}
.dark_text {
     color: rgb(0, 166, 206);
}
.profile_photo {
     border: 2px solid rgb(102, 102, 102);
}
.profile_label {
     font-size: 0.8em;
     text-transform: uppercase;
}
.profile_stats {
     font-size: 1.15em;
     font-weight: bold;
     color: rgb(0, 166, 206);
}
.container {
     margin: auto;
}
.width_100 {
     width: 100%;
}
.bold {
     font-weight: bold;
}
.summary_box {
     border: 0.3em solid rgb(102, 102, 102);
     border-radius: 0.5em;
     padding: 1em;
     /*background-color: rgb(153, 153, 153);*/
     background-color: white;
}
.tweet_box {
     border: 0.3em solid rgb(102, 102, 102);
     border-radius: 0.5em;
     padding: 1em;
}
.statistics {
     padding-top: 1em;
}
.search_row {
     padding: 0.5em;
     padding-right: 1em;
}
.table_border {
     border: 0.3em solid rgb(175, 64, 42);
     border-radius: 0.5em;
}
.tr_border {
     border: 1px solid  rgb(102, 102, 102);
     background-color: #CCCCCC;
}


td {
     padding: 0.5em;
}
.center {
     text-align: center;
}
.root_cause_radio {
     border: 1px solid black;
     padding: 1em;
}
.rad_btn {
     padding-bottom: 0.25em;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
     background-color: rgb(0, 166, 206);
}

.nav_text {
     color: #DEDEDE;
     padding-top: 0;
     padding-bottom: 0;
     font-size: 1.1em;
     font-weight: 500;
}
.nav_text:hover {
     color: white;
}

/* styling for desktop nav menu */
@media only screen and (min-width: 768px) {
     .nav_dd_text {
          font-size: 1.1em;
          color: rgb(0, 166, 206);
          padding-left: 1em;
     }
     .nav_dd_text:hover {
          color: #555555;
          font-size: 1.1em;
     }
}

/* styling for mobile nav menu */
@media only screen and (max-width: 767px) {
     .nav_dd_text {
          font-size: 1.1em;
          color: rgb(0, 166, 206);
          padding-left: 1em;
     }
     .nav_dd_text:hover {
          font-size: 1.1em;
          color: #555555;
     }
     .nav_bg_color {
          background-color: white;
     }
}

/*div {
     border: 1px solid black;
}*/

.btn-width {
     width: 6em;
}

.navbar-toggle {
     background-color: #DDDDDDs    ;
}
/*#dropdown_background, dropdown_background:hover {
     background-color: rgb(0, 103, 207);
     border: 1px solid white;
}*/

/*.dd_hover:hover {
     color: rgb(0, 103, 207);
     font-weight: normal;
}*/

/*@media only screen and (max-width: 767px) {

     body {
          background-color: lightblue;
     }
     .dd_hover:hover {
          color: white;
          font-weight: normal;
     }
}*/

/*#dropdown_background, dropdown_background:hover {
     border: 1px solid white;
}*/
