{% extends "layout.html" %}
{% block body %}
<h1 class="center">{{xlat.failure_anal}}</h1>
<h3 class="center">{{xlat.analysis_enter_data}}</h3>

<div class="row">

     <form action="/process_fa" method="POST">
          <div class="form-group"><label for="rma_num">               {{xlat.rma_num}}:</label>               <input type="number"     class="form-control" name="rma_num" required></div>
          <div class="form-group"><label for="serial_num">            {{xlat.serial_num}}:</label>            <input type="number"     class="form-control" name="serial_num" required></div>
          <div class="form-group"><label for="received">              {{xlat.received}}:</label>              <input type="date"       class="form-control" name="received"></div>
          <div class="form-group"><label for="trouble_shooting">      {{xlat.trouble_shooting}}:</label>      <input type="number"     class="form-control" name="trouble_shooting"></div>
          <div class="form-group"><label for="repair">                {{xlat.repair}}:</label>                <input type="number"     class="form-control" name="repair"></div>
          <div class="form-group"><label for="shipped">               {{xlat.shipped}}:</label>               <input type="date"       class="form-control" name="shipped" required></div>
          <div class="form-group"><label for="suspect_part_num">      {{xlat.suspect_part_num}}:</label>      <input type="number"     class="form-control" name="suspect_part_num"></div>
          <div class="form-group"><label for="root_cause">            {{xlat.root_cause}}:</label>            <input type="number"     class="form-control" name="root_cause"></div>
          <p>need to figure out how to enter notes here.</p>

          <button type="submit" class="btn btn-success">    {{xlat.submit}}</button>
     </form>

</div>
{% endblock %}
