{% extends "layout.html" %}
{% block body %}
<form action="/send_mail" method="post">
     <p style="font-size: 1.5em; font-weight: bold; padding: 0;">{{xlat.contact_me}}</p>
     <p class="contact_form_label">{{xlat.name}}:</p>
     <input class="input_box" type="text" name="name" required style="width: 100%;">
     <p class="contact_form_label">{{xlat.email}}:</p>
     <input class="input_box" type="email" name="email" required style="width: 100%;">
     <p class="contact_form_label">{{xlat.comments}}:</p>
     <textarea class="input_box" name="comments" rows="10" required style="width: 100%;" ></textarea>
     <button class="btn btn-success" type="submit">{{xlat.send_message}}</button>
</form>
{% endblock %}
