{% extends "layout.html" %}
{% block body %}
<div class="row">
     <div class="col-md-1">
          <p>&nbsp;</p>
     </div>
     <div class="col-md-4 summary_box">
          <div class="row">
               <div class="col-md-6">
                    <img class="width_100 profile_photo" src="http://placehold.it/500x500">
               </div>
               <div class="col-md-6">
                    <h3>{{chirp_rows[0].fname}} {{chirp_rows[0].lname}}</h3>
                    <h4>@{{chirp_rows[0].handle}}</h4>
               </div>
          </div>
          <div class="row statistics">
               <div class="col-xs-4">
                    <p class="profile_label">Chirps</p>
                    <p class="profile_stats">
                         {% for profile in profile_rows %}
                         {{profile.num_chirps}}
                         {% endfor %}
                    </p>
               </div>
               <div class="col-xs-4">
                    <p class="profile_label">Following</p>
                    <p class="profile_stats">
                         {% for profile in profile_rows %}
                         {{profile.num_following}}
                         {% endfor %}
                    </p>
               </div>
               <div class="col-xs-4">
                    <p class="profile_label">Followers</p>
                    <p class="profile_stats">
                         {% for profile in profile_rows %}
                         {{profile.num_being_followed}}
                         {% endfor %}
                    </p>
               </div>
          </div>
     </div>
     <div class="col-md-1">
          <p>&nbsp;</p>
     </div>
     <div class="col-md-6 tweet_box">
          <table class="table-condensed table-striped width_100">
               {% for chirp in chirp_rows %}
               <tr class="tr_border">
                    <td>
                         <p class="bold">{{chirp_rows[0].fname}} {{chirp_rows[0].lname}} <span class="dark_text">@{{chirp_rows[0].handle}}</span></p>
                         <p>{{chirp.chirp_date2}} {{chirp.chirp}}</p>
                    </td>
               </tr>
               {% endfor %}
          </table>
     </div>
</div>
{% endblock %}
