{% extends "layout.html" %}
{% block body %}
<h1 class="center">{{xlat.rma_create}}</h1>
<h3 class="center">{{xlat.rma_enter_data}}</h3>

<div class="row">

     <form action="/process_rma" method="POST">
          <div class="form-group"><label for="customer">    {{xlat.customer}}:</label><input type="text"         class="form-control" name="customer" required>   </div>
          <div class="form-group"><label for="fname">       {{xlat.name_last}}:</label><input type="text"         class="form-control" name="fname" required>      </div>
          <div class="form-group"><label for="lname">       {{xlat.name_first}}:</label><input type="text"         class="form-control" name="lname" required>      </div>
          <div class="form-group"><label for="phone">       {{xlat.phone}}:</label><input type="tel"         class="form-control" name="phone" required>      </div>
          <div class="form-group"><label for="email">       {{xlat.email}}:</label><input type="email"        class="form-control" name="email" required>      </div>
          <!-- <div class="form-group"><label for="serial_no">   {{xlat.serial_num_numeric}}:</label><input type="number"         class="form-control" name="sn" required>  </div> -->
          <div class="form-group"><label for="issue">       {{xlat.prob_desc}}:</label><input type="text"     class="form-control" name="prob" required>      </div>

          <button type="submit" class="btn btn-success">    {{xlat.submit}}</button>
     </form>

</div>
{% endblock %}
