{% extends "layout.html" %}
{% block body %}

<div class="row">
     <br><br>
     <div class="col-md-3">
          <p>&nbsp;</p>
     </div>
     <div class="col-md-6">
          <form class="login_box" action="/create_user" method="POST">
               <table>
                    <tr><td><label>{{xlat.userid}}     </label></td><td><input type="text"     name="userid"       required></td></tr>
                    <tr><td><label>{{xlat.name_first}} </label></td><td><input type="text"     name="fname"        required></td></tr>
                    <tr><td><label>{{xlat.name_last}}  </label></td><td><input type="text"     name="lname"        required></td></tr>
                    <tr><td><label>{{xlat.email}}      </label></td><td><input type="text"     name="email"        required></td></tr>
                    <tr><td><label>{{xlat.password}}   </label></td><td><input type="password" name="password"     required></td></tr>
               </table>
               <button class="btn btn-warning" type="submit">{{xlat.signup}}</button>
          </form>
     </div>
     <div class="col-md-3">
          <p>&nbsp;</p>
     </div>
</div>

{% endblock %}
