{% extends "layout.html" %}
{% block body %}
<div class="row">
     <div class="col-md-2">
          &nbsp;
     </div>
     <div class="col-md-8">
          <form action="/new_chirp" method="POST">
               <label>What's happening?</label>
               <input type="text" name="new_chirp" class="width_100">
               <button class="btn btn-warning" type="submit" style="margin-top: 1em;">Chirp</button>
          </form>
     </div>
     <div class="col-md-2">
          &nbsp;
     </div>
</div>
<br>
<div class="row">
     <div class="col-md-2">
          &nbsp;
     </div>
     <div class="col-md-8">
          <table class="table-condensed table-striped width_100">
               {% for timeline in timeline_rows %}
               <tr class="tr_border">
                    <td>
                         <p class="bold">{{timeline.fname}} {{timeline.lname}} <span class="dark_text">@{{timeline.handle}}</span></p>
                         <p>&nbsp;&nbsp;&nbsp;{{timeline.chirp_date2}} {{timeline.chirp}}</p>
                    </td>
               </tr>
               {% endfor %}
          </table>
     </div>
     <div class="col-md-2">
          &nbsp;
     </div>
</div>
{% endblock %}




<!-- <p class="bold">{{chirp_rows[0].fname}} {{chirp_rows[0].lname}} <span class="dark_text">@{{chirp_rows[0].handle}}</span></p> -->
