{% extends "layout.html" %}
{% block body %}


<div class="row">
     <!-- <div class="col-xs-3">
          <p>&nbsp;</p>
     </div>
     <div class="col-xs-6">
          <h1>{{xlat.graph}}</h1>
          <form action="/db_total_by_rootid" method="POST">
               <button type="submit" class="btn btn-warning">{{xlat.graph_show}}</button>
          </form>
     </div>
     <div class="col-xs-3">
<p>&nbsp;</p>
     </div> -->


     <a href="/g_rootcause"><button class="btn btn-sucess">root cause</button></a>
     <a href="/g_partno"><button class="btn btn-sucess">part number</button></a>
</div>

{% endblock %}
